{% extends 'public/base_cpanel.html' %}

{% block title %} Lista de Conductores {% endblock %}

{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/file.css') }}" />
{% endblock %}

{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">Lista de Conductores</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <!-- Tabla de conductores -->
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Salario</th>
            <th>Foto</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for conductor in conductores %}
          <tr>
            <td>{{ conductor.id_conductor }}</td>
            <td>{{ conductor.nombre_conductor }}</td>
            <td>{{ conductor.apellido_conductor }}</td>
            <td>{{ conductor.salario_conductor }}</td>
            <td><img src="{{ url_for('static', filename='fotos_conductores/' + conductor.foto_conductor) }}" width="50" height="50" alt="Foto"></td>
            <td>
              <a href="{{ url_for('detalleconductor', idconductor=conductor.id_conductor) }}" class="btn btn-info btn-sm">Detalles</a>
              <a href="{{ url_for('borrarconductor', id_conductor=conductor.id_conductor, foto_conductor=conductor.foto_conductor) }}" class="btn btn-danger btn-sm" onclick="return confirm('¿Estás seguro de que quieres eliminar a este conductor?');">Eliminar</a>
            </td>
          </tr>
          {% else %}
          <tr>
            <td colspan="6" class="text-center">No hay conductores registrados</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}

{% block customJS %}
<script src="{{ url_for('static', filename='assets/customJS/file.js') }}"></script>
{% endblock %}
