{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %} EL BENDITO STORE🐍 | Lista de conductores{% endblock %}
<!--Inicio del block-->
{% block body %}

<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12 mb-4">
      <h3 class="text-center mt-5 mb-3">LISTA DE CONDUCTORES</h3>
      <hr />
    </div>

    <div class="row justify-content-end">
      <div class="col-md-6 mt-4 py-2">
        <input
          type="search"
          id="search"
          class="form-control border-0 shadow-none"
          placeholder="Buscar conductor..."
          onkeyup="buscadorTable('tbl_conductores')" />
      </div>
    </div>

    <div class="row justify-content-center mb-2">
      <div class="table-responsive text-nowrap table-hover">
        <table
          table-hover
          id="tbl_conductores"
          class="table table-striped table-bordered"
          cellspacing="0"
          width="100%">
          <thead>
            <tr>
              <th>#</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Sexo</th>
              <th>Salario</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            {% for conductor in conductores %}
            <tr id="conductor_{{ conductor.id_conductor }}">
              <td>{{ loop.index }}</td>
              <td>{{ conductor.nombre_conductor }}</td>
              <td>{{ conductor.apellido_conductor }}</td>
              <td>{{ conductor.sexo_conductor }}</td>
              <td>
                $ {{ '{:,.0f}'.format(conductor.salario_conductor).replace(',',
                '.')}}
              </td>
              <td width="10px">
                <a
                  href="/detalles-conductor/{{ conductor.id_conductor }}"
                  title="Ver envio"
                  type="button"
                  class="btn btn-info btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="top"
                  data-bs-html="true"
                  title="<span>Ver detalles</span>">
                  <i class="bi bi-eye"></i>
                  Ver detalles
                </a>
                <a
                  href="{{ url_for('viewEditarConductor', id = conductor.id_conductor) }}"
                  class="btn btn-success btn-sm"
                  tooltip="Actualizar Registro">
                  <i class="bi bi-arrow-clockwise"></i>
                  Actualizar
                </a>
                <a
                  href="#"
                  
                  onclick="return confirm('¿Estás seguro de eliminar al empleado {{ conductor.nombre_conductor }}?');"
                  class="btn btn-danger btn-sm"
                  data-bs-toggle="tooltip"
                  data-bs-offset="0,4"
                  data-bs-placement="top"
                  data-bs-html="true"
                  title="<span>Eliminar conductor {{ conductor.nombre_conductor }}</span>">
                  <i class="bi bi-trash3"></i>
                  Eliminar
                </a>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
