{% for conductor in dataBusqueda %}
<tr id="conductor_{{ conductor.id_conductor }}">
  <td>{{ loop.index }}</td>
  <td>{{ conductor.nombre_conductor }}</td>
  <td>{{ conductor.apellido_conductor }}</td>
  <td>{{ conductor.sexo_conductor }}</td>
  <td>$ {{ '{:,.0f}'.format(conductor.salario_conductor).replace(',', '.')}}</td>
  <td>
    <a
      href="/detalles-conductor/{{ conductor.id_conductor }}"
      title="Ver envio"
      type="button"
      class="btn btn-info btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Ver detalles</span>">
      <i class="bi bi-eye"></i>
      Ver detalles
    </a>
    <a
      href="{{ url_for('viewEditaronductor', id = conductor.id_conductor) }}"
      class="btn btn-success btn-sm"
      tooltip="Actualizar Registro">
      <i class="bi bi-arrow-clockwise"></i>
      Actualizar
    </a>
    <a
      href="#"
      onclick="eliminarConductor('{{ conductor.id_conductor }}');"
      class="btn btn-danger btn-sm"
      data-bs-toggle="tooltip"
      data-bs-offset="0,4"
      data-bs-placement="top"
      data-bs-html="true"
      title="<span>Eliminar conductor {{ conductor.nombre_conductor }}</span>">
      <i class="bi bi-trash3"></i>
      Eliminar
    </a>
  </td>
</tr>

{% endfor %}
